// Variables
@import "variables";

// common
@import "common";

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 1;
}

.page-enter-active .pixel {
  transition-property: opacity;
  transition-duration: 0.2s;
  display: block;
}

.page-leave-active .pixel {
  transition-property: opacity;
  transition-duration: 0.2s;
  display: block;
}

.page-leave-to .pixel {
  opacity: 1;
}

.page-enter .pixel {
  opacity: 1;
}

body {
  overflow: hidden;
}
