// Variables
@import "variables";

// common
@import "common";

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter,
.page-leave-to {
  opacity: 1;
}

.page-enter-active .transition {
  transition: transform 0.4s;
}

.page-leave-active .transition {
  transition: transform 0.4s;
}

.page-enter .transition {
  transform: translateX(-500px);
}

.page-leave-to .transition {
  transform: translateX(-500px);
}
