// Variables
@import "variables";

// common
@import "common";

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 1;
}

.page-enter-active .pixel {
  transition-property: opacity;
  transition-duration: 0.1s;
}

.page-leave-active .pixel {
  transition-property: opacity;
  transition-duration: 0.1s;
}

.page-leave .pixel {
  opacity: 0;

  // transform: scaleX(0);
}

.page-leave-to .pixel {
  opacity: 1;

  // transform: scaleX(1);
}

.page-enter .pixel {
  opacity: 1;

  // transform: scaleX(1);
}

.page-enter-to .pixel {
  opacity: 0;

  // transform: scaleX(0);
}

body {
  overflow: hidden;
}
