@import "variables";

body {
  background-color: $bg-color;
  margin: 0;
  font-family: fot-rodin-pron, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: $theme-color;
}

html {
  visibility: hidden;
}

html.wf-active {
  visibility: visible;
}

$smartphone-breakpoint: 767px;

@mixin smartphone {
  @media screen and (max-width: $smartphone-breakpoint) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $smartphone-breakpoint + 1) {
    @content;
  }
}
