body {
  background-color: #fff;
  margin: 0;
}

$smartphone-breakpoint: 767px;

@mixin smartphone {
  @media screen and (max-width: $smartphone-breakpoint) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $smartphone-breakpoint + 1) {
    @content;
  }
}
