@use "variables" as vars;

body {
  margin: 0;
  font-family: fot-rodin-pron, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: vars.$theme-color;
}

html {
  visibility: hidden;
}

html.wf-active {
  visibility: visible;
}

%grid {
  background-image:
    repeating-linear-gradient(
      90deg,
      vars.$grid-color,
      vars.$grid-color 1px,
      transparent 1px,
      transparent 2vw
    ),
    repeating-linear-gradient(
      0deg,
      vars.$grid-color,
      vars.$grid-color 1px,
      vars.$bg-color 1px,
      vars.$bg-color 2vw
    );
  background-size: 4vw;
}

%grid-sp {
  background-image:
    repeating-linear-gradient(
      90deg,
      vars.$grid-color,
      vars.$grid-color 1px,
      transparent 1px,
      transparent 4vw
    ),
    repeating-linear-gradient(
      0deg,
      vars.$grid-color,
      vars.$grid-color 1px,
      vars.$bg-color 1px,
      vars.$bg-color 4vw
    );
  background-size: 8vw;
}

$smartphone-breakpoint: 767px;

@mixin smartphone {
  @media screen and (max-width: $smartphone-breakpoint) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $smartphone-breakpoint + 1) {
    @content;
  }
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }

  100% {
    transform: rotate3d(0, 0, 0, 0);
    opacity: 1;
  }
}
